// ==============================================
// GLOBAL STYLE
// ==============================================

/** Personnal order -----------------------------

* color / background / border
* width / height / max-width / max-height
* margin / padding
* font-* / text-*
* display / flex-* / justify / align-*
* position / top / bottom / left / right / z-index
* opacity
* animation / transition
* others
**/

body {
    // I -  variables
    background: $mainBackground;
    color: $mainColor;
    font-family: $mainFont;
}
.header {
    width: 100%;
    height: 60px;
    background: $header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__img {
        height: 50px;
        width: auto;
        margin: 10px;
    }
    &__title {
        @include font-size(24px);
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    &__nav {
        padding: 0 10px;
        position: absolute;
        right: 0;
        &__link {
            color: #F1F1F1;
            margin: 0px 10px;
            @include font-size(18px);
            text-decoration: none;
            transition: all 0.3s ease-out;
            &:hover {
                &:nth-child(1) {
                    color: $green;
                }
                &:nth-child(2) {
                    color: $orange;
                }
                &:nth-child(3) {
                    color: $red;
                }
            }
        }
    }
}
.progressBars {
    width: 100%;
    height: 60px;
    background: $progressBars;
    display: flex;
    justify-content: center;
    border-top: 2px $border solid;
    border-bottom: 2px $header solid;
    position: sticky;
    top: 0;
    &__progressBarBox {
        width: 33%;
        @extend %displayCentered;
        &__parent {
            background: #fff;
            width: calc(100% - 2 * 20px);
            height: 10px;
            margin: 10px;
            border-radius: 5px;
            overflow: hidden;
            &__child {
                width: 0;
                max-width: 100%;
                height: 10px; 
                border-radius: 5px;
                transition: all 1s ease-in-out;
            }
        }
        &__span {
            margin: 0 10px 10px;
            @include font-size(16px);
            font-family: $textFont;
        }
    }
}
.pageTitle {
    background: $title;
    color: $textDark;
    width: 100%;
    height: 60px;
    @include font-size(24px);
    @extend %displayCentered;

}
#easyPgBar {
    div {
        div {
            background: $green;
        }
    }
};
#mediumPgBar {
    div {
        div {
            background: $orange;
        }
    }
}
#hardPgBar {
    div {
        div {
            background: $red;
        }
    }
}

.exercices {
    width: 100%;
    height: auto;
    &__exercice {
        background: $exercices;
        border: 2px $border solid;
        width: auto;
        height: 500px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title {
            color: #000;
            padding: 10px;
            @include font-size(18px)
        }
    }
}
.workZone {
    background: #999;
    width: calc(100% - 2 * 10px);
    height: 100%;
    margin: 10px;
}
.verification {
    background: $title;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__checking {
        color: #000;
        font-family: $textFont;
        @include font-size(18px);

    }
    &__button {
        background: #888;
        margin: 0 25px;
        padding: 2px 5px; 
        border: 2px $border solid;
        border-radius: 2px;
        @include font-size(16px);
        cursor: pointer;
        &:hover {
            background: orange;
        }
    }
}