// ==============================================
// GLOBAL VARIABLES
// ==============================================

// colors - rgba - linear-gradients
$mainBackground: #bdbdbd;
$mainColor: rgb(255, 251, 244);
$green: #158b00;
$orange: #fd8b00;
$red: #cf0000;
$textDark: rgb(0, 23, 39);

$xDarkG: #F2D91E;
$darkG: #FFE522;
$g: #FFF185;
$lightG: #FFF7B7;
$xLightG: #FFFBDF;


$header: #496b99;
$progressBars: #7896ac;
$title: #96a8b1;
$exercices: #fff;

$border: #ffc400;

// font-family
$mainFont: 'Sedgwick Ave', cursive;
$textFont: 'Niramit', sans-serif;

// responsive breakpoints -----------------------
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xLarge: 1200px;

